<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/styles.css">
		<meta name="viewport" content="initial-scale=1.0">
	</head>
	<body>
    <div id="body">
		{{ content | safe }}
    </div>
	</body>
</html>
